.col-md-4 {
	width: 100%;
}
.mess p {
	font-size : 60px !important;
}
.image-upload > input
{
    font-weight: bold;
}

.containers {
	overflow: auto;
}
.row {
	display: table-row;
}
.column {
	display: table-cell;
}

.column input {
	margin-right : 5px;
}

.image-upload img
{
    width: 80px;
    cursor: pointer;
}

.data {
	margin-top : -7px;
	display: table-row;
	display: block;
}

.data span {
	display: inline;
}

	.col-md-4 {
	display: table;
}

.data label {
	padding-left :5px;
	padding-right :5px;
}

input{
	height : 30px;
}

span {
	font-style:oblique;	
}

select{
	height : 30px;
}

.rTable {
  	display: block;
  	width: 100%;
}
.rTableHeading, .rTableBody, .rTableFoot, .rTableRow{
  	clear: both;
}
.rTableHead, .rTableFoot{
  	background-color: #DDD;
  	font-weight: bold;
  	vertical-align: middle;
}
.rTableCell, .rTableHead {
  	/*border: 1px solid #999999;*/
  	float: left;
  	height: 45px;
  	overflow: hidden;
  	padding: 9px 1.8%;
  	width: 31%;
  	vertical-align: middle;
}

.col2 {
	padding-left:1px !important;
	width:270px !important;
}

.col3 {
	padding-left:1px !important;
	width:290px !important;
}

.col3 input{
	margin-left:10px !important;
}

.rTable:after {
  	 visibility: hidden;
  	 display: block;
  	 font-size: 0;
  	 content: " ";
  	 clear: both;
  	 height: 0;
  	 vertical-align: middle;
}
.col1 input{
	float:right;
	width : 170px;
}
.col1 select{
	float:right;
	width : 170px;
}

.col2 input{
	float:right;
	width : 170px;
}

.col2 select{
	float:right;
	width : 170px;
}

fieldset {
  overflow: hidden
}

.vendor-select-class {
  float: left;
  clear: none;
}

.vendor-select-class label {
  float: left;
  clear: none;
  display: block;
  padding: 7px 1em 0 0;
}

input[type=radio],
input.radio {
  float: left;
  clear: none;
  margin: 2px 0 0 2px;
}